h1 {
    text-align: center;
}

h2 {
    text-align: center;

}

.container {text-align: center;}
.card-body {text-align: center;}
.restart {text-align: center;}

.Start {text-align: center;
font-size: 200px;}

.startbg {background-color: black;}
.bg {background-color:darkslategray;}